*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, 'Open Sans', sans-serif;
}

.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background: #fff;
}
.banner a:hover{
    color: #2196f3;
}

header{
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

header .logo{
    color: #333;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
}
header .logo span{
    color: rgb(22, 173, 255);
}
header ul{
    display: flex;
    gap: 40px;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
}

.content{
    position: relative;
    max-width: 700px;
    z-index: 10;
}
.content h3{
    font-size: 2em;
    font-weight: 200;
    color: #333;
}
.content h2{
    font-size: 5.5em;
    color: #333;
    font-weight: 700;
}
.content h2 span{
    color: rgb(245, 28, 104);
}
.content p{
    margin: 10px 0;
    columns: #666;
    font-size: 1.2em;
}
.content button{
    position: relative;
    background: #2196f3;
    border: none;
    outline: none;
    color: white;
    padding: 15px 35px;
    font-size: 1.15em;
    letter-spacing: 0.05em;
    margin-right: 40px;
    border-radius: 4px;
    font-weight: 600;
}
.content button.chat{
    background: transparent;
    color: black;
}
.content button.chat ion-icon{
    color: rgb(245, 28, 104);
    font-size: 1.5em;
    top: 5px;
    position: relative;
}

.colors{
    position: absolute;
    right: 100;
    top: 150;
    max-width: 5000px;
    animation: animateColors 8s infinite ease-in-out;
}
@keyframes animateColors{
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
}

.man{
    position: absolute;
    max-height: 800px;
    bottom: 0;
    right: 300;
    animation: animateMan 8s infinite ease-in-out;
}
@keyframes animateMan {
    0%, 100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-50px);
    }
}

.socials{
    position: absolute;
    bottom: 30;
    display: flex;
    gap: 30px;
}
.socials li{
    list-style: none;
}
.socials a{
    font-size: 1.75em;
    text-decoration: none;
    color: #333;
}
.socials a:hover{
    color: #2196f3;
}
.youtube a:hover{
    color:red;
}

